/* pbougie.github.io */

/* FONTS
---------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'icomoon';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* BASE
---------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e6ebea;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
}
a {
  color: #047;
}

@media print {
  body {
    background-color: transparent;
  }
  a {
    color: #000 !important;
    text-decoration: none;
  }
}


/* WRAPPER
---------------------------------------------- */
#header, #main, #footer {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}


/* HEADER
---------------------------------------------- */
#header {
  margin-top: 20px;
}
#header h1 {
  height: 140px;
  margin: 0;
  background-image: url('../images/avatar.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 140px 140px;
  text-indent: -9999px;
}
.no-svg #header h1 {
  background-image: url('../images/avatar.png');
}

@media screen and (min-width: 600px) {
  #header {
    margin-top: 50px;
  }
}


/* MAIN
---------------------------------------------- */
#main ul {
  margin: 20px 0 0;
  padding: 0;
}
#main ul li {
  display: inline-block;
  width: 3em;
}
#main ul a {
  font-size: 40px;
  font-size: 4rem;
  text-decoration: none;
}
#main .icon-website a { color: #047; }
#main .icon-github a { color: #4183C4; }
#main .icon-twitter a { color: #00bef6; }
#main .icon-email a { color: #444; }

@media screen and (min-width: 400px) {
  #main ul li {
    width: 4.5em;
  }
  #main ul a {
    font-size: 50px;
    font-size: 5rem;
  }
}


/* FOOTER
---------------------------------------------- */
#footer {
  margin-bottom: 20px;
}
#footer p {
  margin: 0;
  color: #666;
  font-size: 11px;
  font-size: 1.1rem;
}
