/* pbougie.github.io */

/* FONTS
---------------------------------------------- */
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');


/* BASE
---------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e6ebea;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
}
a {
  color: #047;
}

@media print {
  body {
    background-color: transparent;
  }
  a {
    color: #000 !important;
    text-decoration: none;
  }
}


/* WRAPPER
---------------------------------------------- */
.header, .main, .footer {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}


/* HEADER
---------------------------------------------- */
.header {
  margin-top: 20px;
}
.header h1 {
  height: 140px;
  margin: 0;
  background-image: url('/images/avatar.png');
  background-image: url('/images/avatar.svg'), linear-gradient(transparent, transparent);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 140px 140px;
  text-indent: -9999px;
}

@media screen and (min-width: 600px) {
  .header {
    margin-top: 50px;
  }
}


/* EXTERNAL
---------------------------------------------- */
.external {
  margin: 0 auto;
  padding: 10px;
}
.external__items {
  margin: 0;
  padding: 0;
}
.external__item {
  display: inline-block;
  text-align: center;
}
.external__link {
  display: block;
  width: 6rem;
  height: 6rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 6rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.external__link.website {
  background-image: url('/images/icons/website.png');
  background-image: url('/images/icons/website.svg'), linear-gradient(transparent, transparent);
}
.external__link.github {
  background-image: url('/images/icons/github.png');
  background-image: url('/images/icons/github.svg'), linear-gradient(transparent, transparent);
}
.external__link.twitter {
  background-image: url('/images/icons/twitter.png');
  background-image: url('/images/icons/twitter.svg'), linear-gradient(transparent, transparent);
}
.external__link.instagram {
  background-image: url('/images/icons/instagram.png');
  background-image: url('/images/icons/instagram.svg'), linear-gradient(transparent, transparent);
}
.external__link.email {
  background-image: url('/images/icons/email.png');
  background-image: url('/images/icons/email.svg'), linear-gradient(transparent, transparent);
}

@media screen and (min-width: 400px) {
  .external__link {
    width: 7rem;
    height: 7rem;
    background-size: 7rem;
  }
}

@media screen and (min-width: 600px) {
  .external__link {
    width: 9rem;
    height: 8rem;
    background-size: 8rem;
  }
}


/* FOOTER
---------------------------------------------- */
.footer {
  margin-bottom: 2rem;
  color: #666;
  font-size: 11px;
  font-size: 1.1rem;
}
